html, body {
    margin: 0;
    height: 100%;
}
        body {
            background: #e5e5e7;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
            display: grid;
            grid-template-rows: 80px  1fr;
            grid-template-areas: "top-bar"
                                 
                                 "grid";
            align-items: center;
            margin-top: -7px;
        }
        .climad {
        bottom: 0;
        filter: drop-shadow(0 6px 10px rgb(0, 0, 0));
        }
        /* Top Bar */
        .top-bar {
            margin-top: 0;
            width: 100%;
            height: 75px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            background: #f9f9fa;
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
            grid-area: "top-bar";
        }

        .top-item {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            font-weight: 600;
        }

        /* Clock Grid */
        .grid {
            display: grid;

            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            height: calc(100%);
            grid-area: "grid";

        }

        .clock-container {
            text-align: center;
            /* margin-top: 30px; */
            margin-bottom: 30px;
            margin-left: 100px;
            margin-right: 100px;
            
        }

        .clock-container-small {
            text-align: center;
            margin-top: 30px;
            margin-left: 30px;
            margin-right: 30px;
            
        }

        #clockContainer{
            display: grid;
            grid-template-rows: auto auto;
            grid-template-areas: "topRow"
                                "botRow";
        }
        .ptContainer{
            grid-area: portu;
        }

        .esContainer{
            grid-area: espan;
        }

        .clock-row-up{
            grid-area: topRow;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr ;
            grid-template-areas: 
            ". portu espan .";
            
        }
        .clock-row-down{
            grid-area: botRow;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas: 
            "bras chil colom per arge";
        }

        .clContainer{
            grid-area: chil;
        }

        .coContainer{
            grid-area: colom;
        }

        .peContainer{
            grid-area: per;
        }

        .arContainer{
            grid-area: arge;
        }

        .brContainer{
            grid-area: bras;
        }

        

        canvas {
            height: 300px;
            background: #fff;
            border-radius: 50%;
            box-shadow: 0 10px 25px rgba(0,0,0,0.15);
        }

        .label {
            color: #353535;
            margin-top: 12px;
            font-size: 24px;
            font-weight: 500;
        }
        .labelbig{
            color: #353535;
            margin-top: 12px;
            font-size: 40px;
            font-weight: 500;
        }
        .digital-clock {
            font-size: 48px;
            margin-top: 100px;
            font-weight: 600;
            color: #333;
            background: #fff;
            padding: 40px 40px;
            border-radius: 15px;
            box-shadow: 0 10px 25px rgba(0,0,0,0.15);
            text-align: center;
        }

        /* Weather Box */
        #weatherBox img {
            vertical-align: middle;
            height: 40px;
            margin-right: 8px;
        }
        #eta{
            color: #444;
            padding-left:5px;
        }